/* style.css */

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation: slideInFromLeft 2s ease-out;
  }
  
  .about-section {
    text-align: center;
    padding: 20px;
  }
  